/**
============================================================================
Index Of Content
============================================================================

 1.
===================================================================================
===============================  FRONT PAGE STYLE START  ==========================
===================================================================================
 2.
 */
/*
=============================================================================
>>>> color variable <<<<
==============================================================================
*/
:root {
    --theme-color: #DF0024;
}
/*
=============================================================================
 1. DEFAULT STYLE START
==============================================================================
*/
body {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 25px;
    background: #f1f1f1;
}
img {
    width: 100%;
    height: auto;
}
p{
    letter-spacing: 1px;
    text-align: justify;
}
.section-padding {
    padding: 80px 0;
}
/**
================================================================================
  1. DEFAULT STYLE END
================================================================================
*/

/**
===================================================================================
===============================  FRONT PAGE STYLE START  ==========================
===================================================================================
 */
/**
================================================================================
 1. Top Bar style start
================================================================================
*/

/*back to top start*/
/*.back_to_top i.fa {
    color: var(--theme-color);
    font-size: 35px;
    background: #ccc;
    padding: 20px;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 9999;
    border-radius: 2px;
}

i.fa.fa-arrow-up:hover {
    cursor: pointer;
    transform: rotateZ(720deg);
    transition: all 0.4s;
}*/
/*back to top end*/
